.grid-container{
    height: 500px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.turn{
    color: aqua;
}
.result{
    color: aqua;
}